* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #7c8792;
  font-weight: 400;
}

li,
ul {
  list-style: none;
  outline: none;
}

.container {
  max-width: 1116px;
  margin: 0 auto;
}

@media (max-width: 1136px) {
  .container {
    padding: 0 18px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
